---
layout: bootcamp
root: .
venue: University of California - Berkeley
address: Kinzie and Tamalpais Rooms, David Brower Center, 2150 Alliston Way, Berkeley CA
country: United-States
humandate: Mar 17-18, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-03-17
enddate: 2014-03-18
latlng: 37.873913,-122.250563
registration: open
instructor: ["Justin Kitzes", "Matt Davis", "Chang She", "Cindee Madison", "Thomas Kluyver", "Dav Clark"]
contact: davclark@berkeley.edu
---
<p> <strong>Please register for the
  <a href="http://www.eventbrite.com/e/uc-berkeley-institute-for-data-science-software-carpentry-bootcamp-registration-10319689469">waiting
  list on Eventbrite</a>. For questions,
  <a href="mailto:davclark@berkeley.edu">contact Dav Clark</a>.</strong> </p>

{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

