<p>

How do you know if your setup works? To test the installation, open the Canopy
application. On the first launch of the application, you will be asked whether
you would like to configure the Canopy python to be your default python
environment. Please accept this and continue.
</p>

<p>
Download <a href="{{page.root}}/setup/swc-installation-test-libraries.py">This
script</a>. Open the script in the Canopy editor and click the "run" button
(looks like a green rightward-pointing arrow, or "play" icon). You will be
asked by the application whether you would like to "see the Python
pane". You should see something that looks like this:

</p>
<p>
<code>check Git (git)... </t> pass <br>
check Nose (nosetests)... </t> pass<br>
check Nose Python package (nose)... </t> pass <br>
check Python version (python)... </t> pass <br>
check IPython script (ipython)... </t> pass <br>
check NumPy (numpy)... </t> pass <br>
check SciPy (scipy)... </t> pass <br>
check Matplotlib (matplotlib)... </t> pass <br> </code>
</p>

<p>
Assuming you got all that, you are good to go. If any of those
<code>'pass'</code> comes up as <code>'fail'</code>, please get in touch with the instructors in advance of the bootcamp.
</p>
