<p>

How do you know if your setup works? To test the installation, open the Canopy
application. On the first launch of the application, you will be asked whether
you would like to configure the Canopy python to be your default python
environment. Please accept this and continue.
</p>

<p>
Download <a href="{{page.root}}/setup/swc-installation-test-libraries.py">This
script</a>. Open the script in the Canopy editor and click the "run" button
(looks like a green rightward-pointing arrow, or "play" icon). You will be
asked by the application whether you would like to "see the Python
pane". You should see something that looks like this:
</p>

check Git (git)...      pass
check Nose (nosetests)...       pass
check Nose Python package (nose)...     pass
check Python version (python)...        pass
check IPython script (ipython)...       pass
check NumPy (numpy)...  pass
check SciPy (scipy)...  pass
check Matplotlib (matplotlib)...        pass

<p>
Assuming you got all that, you are good to go. If any of those 'pass' comes up
as 'fail', please get in touch with the instructors in advance of the bootcamp.
</p>
