<div id="setup-vm" class="setup setup-vm">
  <h3>Virtual Machine</h3>
  <p>

  Installation issues can and do happen. To ensure that you can continue to
  participate in a lesson even if one of your software programs fails, we
  provide a Linux virtual machine that contains most of the necessary software
  pre-installed.
  </p>

  <p>
    Please download and install Virtual Box for your OS from
    <a href="https://www.virtualbox.org/wiki/Downloads">here</a> as well as the
    SWC VM file from <a href="http://ktzs.us/4m1q7">here</a>. Load the VM into VirtualBox by
	doing Import Appliance and loading the .ova file. You can leave all of the options at
	their default values.    
  </p>
</div>


