<div id="setup-vm" class="setup setup-vm">
  <h3>Virtual Machine</h3>
  <p>

  Installation issues can and do happen. To ensure that you can continue to
  participate in a lesson even if one of your software programs fails, we
  provide a Linux virtual machine that contains most of the necessary software
  pre-installed.
  
  </p>

  <p>
    Please download and install Virtual Box for your OS from
    <a href="https://www.virtualbox.org/wiki/Downloads">here</a> . Please
    download the SWC VM file from <a href="http://is.gd/MosNIh">here</a>.
  
    On the first day we will do a walkthrough of how to setup and launch the
  bootcamp VM through Virtual Box.  
  </p>
</div>


