<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/clark.d.jpg"
  alt="Dav Clark" />
  <div id="clark.d" class="media-body">
    <span class="person"><a href="http://dlab.berkeley.edu/people/dav-clark">Dav
    Clark</a></span> is Learning &amp; Data Scientist at the UC Berkeley
    <a href="http://dlab.berkeley.edu">D-Lab</a>, where he develops and supports
    software tools for collaborative and open science. He is also Chief
    Scientist at <a href="http://oroeco.com">Oroeco</a>. His research applies
    behavior change thinking to the challenges of climate change and holistic
    wellness.
  </div>
</div>
