<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/holdgraf.c.jpg" alt="Chris Holdgraf" />
  <div id="holdgraf.c" class="media-body">
    <span class="person">Chris Holdgraf</span> is a graduate
     student in neuroscience studying cognitive and computational
     neuroscience.  His research attempts to link higher-level theories of the
     mind with information processing in the brain, drawing inspiration
     from machine learning and statistics. He also manages and
     writes for the <a href='sciencereview.berkeley.edu'>Berkeley Science 
     Review</a>.
  </div>
</div>
